<div class="container custom-container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow">
        <div class="card-body">
          <h2 class="card-title text-center">¡Contáctanos!</h2>
          <div class="contact-info">
            <p class="text-justify">Somos un equipo apasionado de desarrolladores comprometidos en brindar soluciones innovadoras y de alta calidad. Si tienes alguna pregunta, sugerencia o simplemente quieres decir hola, ¡no dudes en contactarnos!</p>
            <p><strong>Dirección:</strong> Calle Ficticia 123, Ciudad Imaginaria, País de los Sueños</p>
            <p><strong>Teléfono:</strong> +123 456 789</p>
            <p><strong>Correo Electrónico:</strong> infotudominio.com</p>
            <p><strong>Sitio Web:</strong> <a href="#">www.tudominio.com</a></p>
          </div>
          <div class="text-center"> 
            <a class="btn btn-primary btn-lg" href="#" role="button">Explorar más</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
