<ion-header>
  <ion-toolbar>
    <ion-title>
      Taller Angular
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="container custom-container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card shadow">
          <div class="card-body">
            <h2 class="card-title text-center">¡Explora nuestra aplicación!</h2>
            <p class="card-text">Bienvenido al Taller Angular, tu destino para la innovación y la creatividad.</p> 
            <p class="card-text">Aquí puedes descubrir un mundo de posibilidades:</p> 
            <div class="button-group">
              <a routerLink="/inicio" routerDirection="forward" class="btn btn-primary btn-block">Inicio</a>
              <a routerLink="/nosotros" routerDirection="forward" class="btn btn-primary btn-block">Nosotros</a>
              <a routerLink="/contactenos" routerDirection="forward" class="btn btn-primary btn-block">Contáctenos</a>
              <a routerLink="/publicaciones" routerDirection="forward" class="btn btn-primary btn-block">Publicaciones</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
