.custom-container {
  text-align: center;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.custom-container .card-title {
  font-size: 32px;
  color: #333;
  font-weight: bold;
}

.custom-container p {
  font-size: 18px;
  color: #666;
  margin: 10px 0;
}

.button-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.button-group a {
  margin-bottom: 10px;
  width: 200px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #80cbc4;
  border: 1px solid #80cbc4;
  border-radius: 5px;
  padding: 15px;
  transition: all 0.3s ease;
}

.button-group a:hover {
  background-color: #4db6ac;
  border-color: #4db6ac;
}

@media only screen and (max-width: 600px) {
  .custom-container {
    padding: 15px;
  }

  .custom-container .card-title {
    font-size: 28px;
  }

  .custom-container p {
    font-size: 16px;
  }

  .button-group a {
    width: 100%;
  }
}
