<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card shadow">
        <div class="card-body text-center"> 
          <h2 class="card-title">Sobre Nosotros</h2>
          <div class="accordion" id="accordionExample">
            <div class="card">
              <div class="card-body text-center">
                <h5 class="card-title">Misión</h5>
                <p class="card-text">Desarrollar aplicaciones web de calidad.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center"> 
                <h5 class="card-title">Equipo</h5>
                <p class="card-text">Equipo altamente cualificado y apasionado.</p>
              </div>
            </div>
            <div class="card">
              <div class="card-body text-center"> <!-- Añadido text-center para centrar el contenido -->
                <h5 class="card-title">Visión</h5>
                <p class="card-text">Ser líderes en el desarrollo de aplicaciones web innovadoras.</p>
              </div>
            </div>
            <div class="text-center mt-3"> 
              <a class="btn btn-primary btn-lg" href="#" role="button">Explorar más</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
